.navbar {
  background-color: white;
  height: 13vh;
  position: relative;
  z-index: 500;
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0;
}

.navitems {
  margin: 2.5rem 0rem 0rem 10rem;
  /* background-color: orangered; */
}

.navMenuItems:hover {
  cursor: pointer;
}

.navitems li {
  text-decoration: none;
  list-style: none;
  margin: 1rem;
  opacity: 0.7;
  font-size: 1vw;
  transition: 0.2s ease-in-out;
  white-space: nowrap;
  /* background-color: teal; */
  text-align: center;
}

.custombutton {
  background-color: #ed1c24;
  width: 6rem;
  border-radius: 7px;
  opacity: 1 !important;
  font-size: 0.7rem !important;
  padding: 0.4rem 0.5rem;
  color: white;
  animation: bounce 2s ease infinite;
}

/* .removestyles {
  back
} */

/* .hidecustombutton {
  display: none;
} */

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.navitems li:hover {
  opacity: 1;
  transform: scale(1.1);
}

.menuIcon {
  display: none;
  visibility: hidden;
}

.highlightmenuicon {
  color: orange;
}

.active {
  color: orange;
  font-weight: bold;
}

.login_register {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.2s ease-in-out;
  text-align: center;
  /* background-color: burlywood; */
}
.login_registertext {
  position: relative;
  height: 45px;
  margin-right: -5rem;
  margin-top: 2.6rem;
  padding: 10px 10px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.login_registertext:hover {
  color: whitesmoke;
}

.login_registertext:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
}

.login_registertext:hover:before {
  top: 0;
}

.userdetailcontainer {
  position: relative;
  margin-top: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.2s ease-in-out;
}

.userdetail {
  /* text-transform: uppercase; */
  opacity: 0.7;
  font-size: 1vw;
  cursor: pointer;
}

.userdetail:hover {
  text-decoration: underline;
}

.avatar {
  width: 3rem;
  border-radius: 30rem !important;
  cursor: pointer;
}

.avatarcontainer {
  margin-left: 1rem;
  padding: 0.5rem 0.7rem;
  display: inline-block;
  border-radius: 50rem;
}

.placeholder {
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

.dropdowncontainer {
  display: flex;
  position: absolute;
  top: 5rem;
  right: -2rem;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 3px 29px rgba(0, 0, 0, 0.1);
  padding: 2rem 5rem;
  border-radius: 10px;
  z-index: 999;
}

.closebtn {
  position: absolute;
  right: 3.5rem;
  top: 0.5rem;
  opacity: 0.5;
}

.dropdownavatar {
  width: 8rem;
  border-radius: 30rem;
}

.dropdownplaceholder {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  text-transform: capitalize;
}

.logouttext {
  text-align: center;
  font-size: 1rem;
}

.logouttext:hover {
  color: #ff4444;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.dropdownavatar_cont {
  display: flex;
  justify-content: center;
}

/* Media Queries */

@media only screen and (max-width: 1280px) {
  .navbar {
    display: flex;
    align-items: center;
  }

  .navitems {
    position: absolute;
    padding: 10rem 0rem;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.849);
    text-align: center;
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .navbar .shownavitems {
    right: 0rem;
    top: -2.5rem;
  }

  .navbar .hidenavitems {
    right: 0rem;
    top: -100rem;
  }

  .navitems li {
    font-size: 2rem;
    color: white;
    margin: 1rem 0%;
  }
  .navitems .active {
    color: orange;
    font-weight: bold;
  }

  .avatarcontainer {
    margin-bottom: 1rem;
  }

  .menuIcon {
    display: inline-block;
    visibility: visible;
    position: absolute;
    left: 3vw;
    top: 2.3rem;
    font-size: 2rem !important;
    /* width: 10vw; */
  }
  .custombtncontainer {
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
  }
  .custombutton {
    font-size: 1.5rem !important;
    width: 10rem;
  }

  .avatar {
    transform: scale(0.7);
  }

  .dropdowncontainer {
    transform: scale(0.7);
    top: 2rem;
  }

  .login_registertext {
    /* margin-right: 1rem; */
    font-size: 0.6rem;
    margin-top: 1.4rem;
    margin-right: 1.2rem;
    padding: 9px 6px 2px 6px;
    height: 35px;
    white-space: nowrap;
    /* margin-bottom: 0mm; */
  }
}
