.navlogo {
  width: 12rem;
  margin-left: 3vw;
  margin-top: 1.5rem;
  transition: 0.3s ease-in-out;
  /* background-color: orangered; */
}

@media only screen and (max-width: 1280px) {
  .navlogo {
    display: none;
    /* width: 6rem;
    margin-left: 28%;
    margin-top: 2.5rem; */
  }
}
