@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f6f6f7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "product-sans";
  src: local("product-sans"),
    url(../fonts/Product\ Sans\ Regular.ttf) format("truetype");
}

@font-face {
  font-family: "spydolls";
  src: local("spydolls"), url(../fonts/Spydolls\ demo.ttf) format("truetype");
}
