@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f6f6f7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap);
}

@font-face {
  font-family: "product-sans";
  src: local("product-sans"),
    url(../fonts/Product\ Sans\ Regular.ttf) format("truetype");
}

@font-face {
  font-family: "spydolls";
  src: local("spydolls"), url(../fonts/Spydolls\ demo.ttf) format("truetype");
}

.neumorphism {
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}
